.commentContainer {
  margin-top: 2%;
  background-color: var(--blue-2);
  border: 2px solid black;
  padding: 2%;
  .sendReplieComment {
    cursor: pointer;
  }
  .commentReplies {
    border: 2px solid black;
    padding: 2%;
    margin-left: 10%;
    margin-top: 2%;
  }
}
