.article_items {
  border: 3px solid var(--hard-blue);
  background-color: var(--blue-1);
  margin-top: 5%;
  margin-bottom: 5%;
  .titleHome {
    margin-left: 10%;
  }
  .HomeImg {
    width: 20%;
    height: auto;
    img {
      object-fit: contain;
    }
  }
}
