.ArticleContainer {
  margin: 10%;
  .Article {
    background-color: var(--blue-2);
    border: 2px solid var(--divider);
    .title {
      margin-top: 2.5%;
      margin-bottom: 2.5%;
    }
    .follow {
      cursor: pointer;
      color: red;
      &:hover {
        color: white;
      }
    }
    .unfollow {
      cursor: pointer;
      color: white;
      &:hover {
        color: red;
      }
    }
    .image {
      margin-bottom: 5%;
    }
    .description {
      padding: 5%;
    }
  }
  .sendCommentArticle {
    position: relative;
    left: 25%;
  }
}
